@font-face {
    font-family: 'Escoredream';
    src: url('../fonts/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('../fonts/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}